.fondo1 {
	background-color: #86509C
}
.color{
	color: white;

}
.button{
	color: white;
	background-color:#E3763D;
	width: 20%;
	height: 55px;
	border-radius: 1em;
}
.fondo2 {
	background-color: #17C1A4
}